/* My CSS global file */


html, body,
h1, h2, h3, h4, h5, h6,
p, blockquote, ul, ol, li,
dl, dt, dd, form, fieldset,
input, textarea, label, u {
	margin : 0;
	padding: 0;
	border: 0px;
	list-style: none;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	font-family: arial;
}

body{
	background:#FFF;
}

p {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
}

a,
a:hover{
	text-decoration:none;
}

#wrapper {
	max-width:1200px;
	margin:0 auto;
	}
	
header {
	height:100px; 
}

#logo{
	float:left;
}





/*    BARRE DE NAVIGATION */

nav {
	padding-top:40px;
}
nav a{
	font-size:12px; 
	color:#000; 
	font-weight:bold;
}

nav a:hover{
	color:#f04004;
}
nav span{
	color:#000000; 
	display:block; 
	padding-bottom:8px; 
	font-weight:normal;
}

nav ul li {
	float:left; 
	margin:0 20px;
}

nav li{
	border-bottom:3px solid #000000;
}

nav li:hover {
	border-bottom:3px solid #156bae;
}





/* FOOTER DESSUS */

#footer-top{
	background:#f2f2f2; 
	min-height:205px}


#footer-top ul{
	margin-left:30px;
}

#footer-top li{
	list-style:disc; 
	font-weight:bold;
}

#footer-top a{
	color:#000;
}

#footer-top h2 {
	margin-bottom: 22px;
}

#footer-top {
	border-top: 8px solid #fff;
}

#attribute-contact{
	border-top:1px solid #999;
}

#col5 ul li {
	float:left;
	list-style:none;
}

#col5 ul li img{
	padding-right: 12px;
}

#col5 h3 {
	font-size:12px;
}

#col5 span{
	font-size:10px; 
	color:#000;
}


/*FOOTER DESSOUS / BARRE NOIRE */

#footer-bottom{
	background:#000000;
	color:#FFF; 
	padding:20px 0px; 
	font-size:9px; 
}

#footer-bottom p{
	padding-left: 20px;
}

.clearfix:before,
.clearfix:after {
	clear: both;
	display: table;
	content: " ";
	overflow: auto;
  	zoom: 1;
}
