
#slider {}
#slider img{
	max-width:100%;
}

#content {}
#container{
	margin-top:10px; 
	min-height:500px;
}

#container .col{
	float:left;
	width:400px;
}

#col1, #col3{
	background:#f2f2f2;
}

h3 {
	font-weight:bold;
	font-size:14px;
}

.block {
	margin:15px;
}

h2,h3, .col a{
	text-transform:uppercase;
}


h2 {
	border-left:4px solid #f04004; 
	padding-left:8px;
	font-size:14px; 
	margin-top:10px;
}

/* LA COLONE 1 */
.attribute-time{
	margin:5px 0; 
	padding:5px 0; 
	font-size:14px;
}

#col1 .date{
	color:#156bae;
	font-weight:bold;
}
.hour{
	padding-left:10px; 
	border-left:1px solid #999;
}
#col1 h3{
	margin-top:30px;
}
#col1 .date, #col1 .hour{ 
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}

/* LA COLONE 2 */
#col2 .attribute-short {
	margin:10px 0; 
	border-top: 1px solid #999; 
	border-bottom: 1px solid #999;
	padding:8px 0;
}

/* BOUTONS DE LA COLONE 3 */
.button {
	background: #156bae; 
	margin:20px;
	padding:10px;
}

.button:hover {
	background-color:#f04004; 
	cursor: pointer;
}

#col3 h3{
	color:#FFF;
}

#col3 img{
	float:left;height:100%; 
	padding-right: 10px;
}

.twitter img{
	padding-left: 20px; 
	padding-bottom: 25px;
}

.twitter span{
	color:#17aaa2;
}

.twitter span{
	display: block;
	margin-bottom: 20px;
}